<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.igeek.dao.CollectHomepageMapper" >
  <resultMap id="BaseResultMap" type="org.igeek.pojo.CollectHomepage" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="org_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="worker_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="worker_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="worker_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="collect_count" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, org_id, worker_id, worker_code, worker_name, collect_count, update_time, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mj_quality_collection_homepage
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mj_quality_collection_homepage
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.igeek.pojo.CollectHomepage" >
    insert into mj_quality_collection_homepage (id, org_id, worker_id, 
      worker_code, worker_name, collect_count, 
      update_time, create_time)
    values (#{id,jdbcType=INTEGER}, #{orgId,jdbcType=INTEGER}, #{workerId,jdbcType=INTEGER}, 
      #{workerCode,jdbcType=VARCHAR}, #{workerName,jdbcType=VARCHAR}, #{collectCount,jdbcType=INTEGER}, 
     now(), now())
  </insert>
  <insert id="insertSelective" parameterType="org.igeek.pojo.CollectHomepage" >
    insert into mj_quality_collection_homepage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="workerId != null" >
        worker_id,
      </if>
      <if test="workerCode != null" >
        worker_code,
      </if>
      <if test="workerName != null" >
        worker_name,
      </if>
      <if test="collectCount != null" >
        collect_count,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="workerId != null" >
        #{workerId,jdbcType=INTEGER},
      </if>
      <if test="workerCode != null" >
        #{workerCode,jdbcType=VARCHAR},
      </if>
      <if test="workerName != null" >
        #{workerName,jdbcType=VARCHAR},
      </if>
      <if test="collectCount != null" >
        #{collectCount,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
       now(),
      </if>
      <if test="createTime != null" >
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.igeek.pojo.CollectHomepage" >
    update mj_quality_collection_homepage
    <set >
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="workerId != null" >
        worker_id = #{workerId,jdbcType=INTEGER},
      </if>
      <if test="workerCode != null" >
        worker_code = #{workerCode,jdbcType=VARCHAR},
      </if>
      <if test="workerName != null" >
        worker_name = #{workerName,jdbcType=VARCHAR},
      </if>
      <if test="collectCount != null" >
        collect_count = #{collectCount,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = now(),
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.igeek.pojo.CollectHomepage" >
    update mj_quality_collection_homepage
    set org_id = #{orgId,jdbcType=INTEGER},
      worker_id = #{workerId,jdbcType=INTEGER},
      worker_code = #{workerCode,jdbcType=VARCHAR},
      worker_name = #{workerName,jdbcType=VARCHAR},
      collect_count = #{collectCount,jdbcType=INTEGER},
      update_time = now(),
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getCollectWorkerInfo" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from  mj_quality_collection_homepag
    where org_id = #{orgId,jdbcType=INTEGER} and worker_id = #{workerId,jdbcType=INTEGER}
  </select>

  <update id="updateCollectWorkerCount" parameterType="map">
    update mj_quality_collection_homepage
    set update_time = now(),collect_count = #{collectCount,jdbcType=INTEGER} + 1
    where org_id = #{orgId,jdbcType=INTEGER} and worker_id = #{workerId,jdbcType=INTEGER}
  </update>

</mapper>