<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.igeek.dao.ProductMapper" >
  <resultMap id="BaseResultMap" type="org.igeek.pojo.Product" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="codestr" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="pro_category" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="zjjj" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="xpjj" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="syjj" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="dyjj" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="bzjj" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="beizhu" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="created" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="modified" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, codestr, title, pro_category, zjjj, xpjj, syjj, dyjj, bzjj, beizhu, status, created, 
    modified
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mj_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mj_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.igeek.pojo.Product" >
    insert into mj_product (id, codestr, title, 
      pro_category, zjjj, xpjj, 
      syjj, dyjj, bzjj, beizhu, 
      status, created, modified
      )
    values (#{id,jdbcType=INTEGER}, #{codestr,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{proCategory,jdbcType=INTEGER}, #{zjjj,jdbcType=REAL}, #{xpjj,jdbcType=REAL}, 
      #{syjj,jdbcType=REAL}, #{dyjj,jdbcType=REAL}, #{bzjj,jdbcType=REAL}, #{beizhu,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, now(), now()
      )
  </insert>
  <insert id="insertSelective" parameterType="org.igeek.pojo.Product" >
    insert into mj_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="codestr != null" >
        codestr,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="proCategory != null" >
        pro_category,
      </if>
      <if test="zjjj != null" >
        zjjj,
      </if>
      <if test="xpjj != null" >
        xpjj,
      </if>
      <if test="syjj != null" >
        syjj,
      </if>
      <if test="dyjj != null" >
        dyjj,
      </if>
      <if test="bzjj != null" >
        bzjj,
      </if>
      <if test="beizhu != null" >
        beizhu,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="modified != null" >
        modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="codestr != null" >
        #{codestr,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="proCategory != null" >
        #{proCategory,jdbcType=INTEGER},
      </if>
      <if test="zjjj != null" >
        #{zjjj,jdbcType=REAL},
      </if>
      <if test="xpjj != null" >
        #{xpjj,jdbcType=REAL},
      </if>
      <if test="syjj != null" >
        #{syjj,jdbcType=REAL},
      </if>
      <if test="dyjj != null" >
        #{dyjj,jdbcType=REAL},
      </if>
      <if test="bzjj != null" >
        #{bzjj,jdbcType=REAL},
      </if>
      <if test="beizhu != null" >
        #{beizhu,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        now(),
      </if>
      <if test="modified != null" >
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.igeek.pojo.Product" >
    update mj_product
    <set >
      <if test="codestr != null" >
        codestr = #{codestr,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="proCategory != null" >
        pro_category = #{proCategory,jdbcType=INTEGER},
      </if>
      <if test="zjjj != null" >
        zjjj = #{zjjj,jdbcType=REAL},
      </if>
      <if test="xpjj != null" >
        xpjj = #{xpjj,jdbcType=REAL},
      </if>
      <if test="syjj != null" >
        syjj = #{syjj,jdbcType=REAL},
      </if>
      <if test="dyjj != null" >
        dyjj = #{dyjj,jdbcType=REAL},
      </if>
      <if test="bzjj != null" >
        bzjj = #{bzjj,jdbcType=REAL},
      </if>
      <if test="beizhu != null" >
        beizhu = #{beizhu,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null" >
        now(),
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.igeek.pojo.Product" >
    update mj_product
    set codestr = #{codestr,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      pro_category = #{proCategory,jdbcType=INTEGER},
      zjjj = #{zjjj,jdbcType=REAL},
      xpjj = #{xpjj,jdbcType=REAL},
      syjj = #{syjj,jdbcType=REAL},
      dyjj = #{dyjj,jdbcType=REAL},
      bzjj = #{bzjj,jdbcType=REAL},
      beizhu = #{beizhu,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      created = #{created,jdbcType=TIMESTAMP},
      now()
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>