<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.igeek.dao.QualityMapper">
    <resultMap id="BaseResultMap" type="org.igeek.pojo.Quality">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="remark" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="money" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="question_type" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="created" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="modified" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, title, remark, status, money, question_type, created, modified
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from mj_quality_category
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mj_quality_category
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="org.igeek.pojo.Quality">
    insert into mj_quality_category (id, user_id, title, 
      remark, status, money, 
      question_type, created, modified
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{money,jdbcType=DECIMAL}, 
      #{questionType,jdbcType=INTEGER}, now(), now()
      )
  </insert>
    <insert id="insertSelective" parameterType="org.igeek.pojo.Quality">
        insert into mj_quality_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="money != null">
                money,
            </if>
            <if test="questionType != null">
                question_type,
            </if>
            <if test="created != null">
                created,
            </if>
            <if test="modified != null">
                modified,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="money != null">
                #{money,jdbcType=DECIMAL},
            </if>
            <if test="questionType != null">
                #{questionType,jdbcType=INTEGER},
            </if>
            <if test="created != null">
                now(),
            </if>
            <if test="modified != null">
                now(),
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.igeek.pojo.Quality">
        update mj_quality_category
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="money != null">
                money = #{money,jdbcType=DECIMAL},
            </if>
            <if test="questionType != null">
                question_type = #{questionType,jdbcType=INTEGER},
            </if>
            <if test="created != null">
                now(),
            </if>
            <if test="modified != null">
                now(),
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.igeek.pojo.Quality">
    update mj_quality_category
    set user_id = #{userId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      money = #{money,jdbcType=DECIMAL},
      question_type = #{questionType,jdbcType=INTEGER},
      created = now(),
      modified = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByTitle" resultType="java.lang.Integer" parameterType="java.lang.String">
    select count(1) from mj_quality_category where title=#{qualityName}
  </select>
    <select id="listAllQualityInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mj_quality_category where status = '1'and user_id = '1'
    </select>

    <update id="updateStatusById" parameterType="java.util.Map">
    update mj_quality_category
    set status = #{status}
    where id = #{qualityId}
  </update>

</mapper>